<%- include('../partials/header') %>

<body>
    <h2>Favorites</h2>
    <div class="grid-container">
    <div class="recipes-container">
    <% if (user && user.favorites) { %>
        <% user.favorites.forEach(function(r) { %>
                <a class="recipe" href="/recipes/<%= r.id %>">
                    <img class="image-home" src="<%= r.img %>" alt="Recipe Image">
                    <h3 class="a-home"><%= r.title %></h3>
                </a>
        <% }) %>
    <% } else { %>
        <p>No favorite recipes found.</p>
    <% } %>
</div>
</div>
</body>


<%- include('../partials/footer') %>
