<%- include('../partials/header') %>

<h2>Soup Recipes that Warm the Soul</h1>
<br>

<div class="recipes-container">
<% recipes.forEach(function(r) { %>
    <div class="recipe">
        <a href="/recipes/<%= r.id %>">
            <img class="image-home" src="<%= r.img %>" alt="minestrone soup">
            <h3 class="a-home"><%= r.title %></h3>
        </a>
    </div>
<% }) %>
</div>

<%- include('../partials/footer') %>


