<%- include('../partials/header') %>

<h2>Soup Recipes that Warm the Soul</h2>
<br><br>

<% recipes.forEach(function(r) { %>
    <div class="recipe">
        <img class="image-home" src="<%= r.img %>" alt="minestrone soup">
        <a class="a-home" href="/recipes/<%= r.id %>"><h3><%= r.title %></h3></a>
    </div>
<% }) %>

<%- include('../partials/footer') %>


