<%- include('../partials/header') %>

<h2>Soup Recipes that Warm the Soul</h2>
<br>

<div class="grid-container">
<div class="recipes-container">
<% recipes.forEach(function(r) { %>
        <a class="recipe" href="/recipes/<%= r.id %>">
            <img class="image-home" src="<%= r.img %>" alt="minestrone soup">
            <h3 class="a-home"><%= r.title %></h3>
            <p><%= r.summary %></p>
        </a>
<% }) %>
</div>
</div>

<%- include('../partials/footer') %>


