<%- include('../partials/header') %>
<section id="container">
    <h1><%= recipe.title %></h1>
    <h3><%= recipe.summary %></h3>
    <img class="recipe-img" src="<%= recipe.img %>" alt="minestrone soup">
    <div class="img-caption">
        <p>Serving Size: <%= recipe.servingSize %></p>
        <div class="prep-cook">
            <p>Prep Time: <%= recipe.prepTime %></p>
            <p>|</p>
            <p>Cook  Time: <%= recipe.cookTime %></p>
        </div>
    </div>

    <section class="lists">
    <h4>Ingredients</h4>
    <ul>
        <% const ingredientsList = recipe.ingredients.split('\n'); %>
        <% ingredientsList.forEach(function(i) { %>
            <li><%= i %></li>
        <% }) %>
    </ul>

    <h4>Instructions</h4>
    <ol>
        <% const instructionsList = recipe.instructions.split('\n'); %>
        <% instructionsList.forEach(function(i) { %>
            <li><%= i %></li>
        <% }) %>
    </ol>
    </section>

</section>


<%- include('../partials/footer') %>